In [53]:
import os
print(os.getcwd())
os.chdir("d:/vscode_machineLearning/BEST_PROJECTS/ForbsBillionaires")
print(os.getcwd())

d:\vscode_machineLearning\BEST_PROJECTS\ForbsBillionaires
d:\vscode_machineLearning\BEST_PROJECTS\ForbsBillionaires

In [54]:
import pandas as pd

In [55]:
df = pd.read_csv(r'artifacts/cleand_data/not_encoded_data.csv')

In [56]:
df

,rank,net_worth,full_name,age,gender,country_of_citizenship,city_of_residence,business_category,self_made,wealth_status
0,1,211,Bernard Arnault & family,74,Male,France,Paris,Fashion & Retail,False,Increased
1,2,180,Elon Musk,51,Male,United States,Austin,Automotive,True,Decreased
2,3,114,Jeff Bezos,59,Male,United States,Medina,Technology,True,Decreased
3,4,107,Larry Ellison,78,Male,United States,Lanai,Technology,True,Increased
4,5,106,Warren Buffett,92,Male,United States,Omaha,Finance & Investments,True,Decreased
...,...,...,...,...,...,...,...,...,...,...
2333,2540,1,Yu Rong,51,Male,China,Shanghai,Healthcare,True,Decreased
2334,2540,1,"Richard Yuengling, Jr.",80,Male,United States,Pottsville,Food & Beverage,False,Remained Even
2335,2540,1,Zhang Gongyun,60,Male,China,Gaomi,Manufacturing,True,Returned to List
2336,2540,1,Zhang Guiping & family,71,Male,China,Nanjing,Real Estate,True,Decreased
2337,2540,1,Inigo Zobel,66,Male,Philippines,Makati,Diversified,False,Returned to List

In [57]:
df.nunique()

rank                       216
net_worth                   61
full_name                 2336
age                         74
gender                       2
country_of_citizenship      75
city_of_residence          699
business_category           18
self_made                    2
wealth_status                4
dtype: int64

## Binary output features-
- gender
- self_made

### encoding the Binary output features.

In [58]:
from sklearn.preprocessing import LabelEncoder

In [59]:
encoder = LabelEncoder()
df['gender']= encoder.fit_transform(df[['gender']])
df['self_made'] = encoder.fit_transform(df[['self_made']])

d:\vscode_machineLearning\BEST_PROJECTS\ForbsBillionaires\forbesvenv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
d:\vscode_machineLearning\BEST_PROJECTS\ForbsBillionaires\forbesvenv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [60]:
df['self_made'].value_counts()

self_made
1    1662
0     676
Name: count, dtype: int64

## wealth status

In [61]:
df['wealth_status'].value_counts()

wealth_status
Decreased           1191
Increased            828
Remained Even        256
Returned to List      63
Name: count, dtype: int64

#### this should be in the correct form

In [62]:
from sklearn.preprocessing import OrdinalEncoder

In [63]:
ordinal_encoder = OrdinalEncoder(categories=[['Returned to List','Decreased','Remained Even','Increased']])
ordinal_encoder

OrdinalEncoder(categories=[['Returned to List', 'Decreased', 'Remained Even',
                            'Increased']])

In [65]:
df['wealth_status'] = ordinal_encoder.fit_transform(df[['wealth_status']])

In [68]:
df['wealth_status'] =df['wealth_status'].astype(int)

In [69]:
df

,rank,net_worth,full_name,age,gender,country_of_citizenship,city_of_residence,business_category,self_made,wealth_status
0,1,211,Bernard Arnault & family,74,1,France,Paris,Fashion & Retail,0,3
1,2,180,Elon Musk,51,1,United States,Austin,Automotive,1,1
2,3,114,Jeff Bezos,59,1,United States,Medina,Technology,1,1
3,4,107,Larry Ellison,78,1,United States,Lanai,Technology,1,3
4,5,106,Warren Buffett,92,1,United States,Omaha,Finance & Investments,1,1
...,...,...,...,...,...,...,...,...,...,...
2333,2540,1,Yu Rong,51,1,China,Shanghai,Healthcare,1,1
2334,2540,1,"Richard Yuengling, Jr.",80,1,United States,Pottsville,Food & Beverage,0,2
2335,2540,1,Zhang Gongyun,60,1,China,Gaomi,Manufacturing,1,0
2336,2540,1,Zhang Guiping & family,71,1,China,Nanjing,Real Estate,1,1
2337,2540,1,Inigo Zobel,66,1,Philippines,Makati,Diversified,0,0

## I will leave full_name as it is

## country_of_citizenship

In [77]:
df['country_of_citizenship'].value_counts() < 2

country_of_citizenship
United States           False
China                   False
India                   False
Germany                 False
Russia                  False
                        ...
Iceland                  True
Eswatini (Swaziland)     True
Belize                   True
Portugal                 True
Peru                     True
Name: count, Length: 75, dtype: bool